<!doctype html>
<html>

<head>
  <title>Form Builder</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="/node/dynamicForms/vendor/css/vendor.css" />
  <link rel="stylesheet" href="/node/dynamicForms/dist/formbuilder.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="/vendor/css/bootstrap.min.css" /> -->
  <!-- Toaster message-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <!-- <script src="vendor/js/toastr.min.js"></script> -->
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: #444;
      font-family: sans-serif;
    }

    .fb-main {
      background-color: #fff;
      border-radius: 5px;
      min-height: 600px;
    }

    .fb-main1 {
      background-color: #fff;
      border-radius: 5px;
      min-height: 100px;
      max-width: 1000px;
      margin: 0 auto;
      padding: 0 20px 0 0;
      position: relative;
      font-family: 'Source Sans Pro', 'Open Sans', Tahoma;

    }

    input[type=text] {
      height: 26px;
      margin-bottom: 3px;
    }

    select {
      margin-bottom: 5px;
      font-size: 16px;
    }

    .fb-save-wrapper1 {
      position: absolute;
      right: 20px;
      top: 10px;
    }
  </style>
</head>

<body>
  <div class='fb-main'><button>Save</button></div>
  <!-- <div class='fb-mains'><button>Save</button></div> -->

  <!-- <div class="fb-field-wrapper response-field-file editing" style="float: right;background-color: #1abc9c;top: -50px;">
    <div class="js-form fb-save-wrapper">
       <a class="fb-button" onclick="saveForm()" style="line-height: 1;">Save</a>  
      <a class="fb-button" aria-hidden="true" style="float: right;" data-backdrop="static" title="Create Space"
        data-keyboard="false" data-toggle="modal" data-target="#myForm">Next</a>
    </div>
  </div> -->
  <div class="">
    <div class="fb-main1" style="text-align: center;margin-top: -10px;">
      <!-- <div id="alertMsg" style="display: none;" onclick="openPopuUpWithValue()"><label id="appendFormValue"> </a></div> -->
      <div class="fb-save-wrapper1">
        <!-- <button class="js-save-form fb-button" disabled="disabled">All changes saved</button> -->
        <a class="fb-button" id="submit" aria-hidden="true" onclick="saveForm();"> Save </a>
        <a class="fb-button" style="display: none;" id="openPopup" aria-hidden="true" data-backdrop="static"
          title="Create Space" data-keyboard="false" data-toggle="modal" data-target="#myForm"></a>
      </div>

    </div>

    <!-- <a class="fb-button" onclick="saveForm()" style="line-height: 1;">Save</a> -->

  </div>


  <div class="modal" id="myForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalTitle">Create Form  
          </h4>
          <!-- <button type="button" id="closeSpacePopup" onclick="resetData()" class="close"
            data-dismiss="modal">&times;</button> -->
        </div>

        <div class="modal-body">



          <form id="spaceForm" name="spaceF">
            <div>
              <div class="form-group">
                <input type="text" maxlength="32" name="formName" id="formName" class="form-control"
                  placeholder="Form Name" aria-label="Form Name" aria-describedby="basic-addon1">
              </div>
              <div class="form-group">
                <input type="text" maxlength="128" name="formTitle" id="formTitle" class="form-control"
                  placeholder="Form Title" aria-label="formTitle" aria-describedby="basic-addon1">
              </div>
              <div class="form-group">
                <input type="text" id="formDescription" name="formDescription" autocomplete="off" class="form-control"
                  id="formDescription" placeholder="Description">
                <label id="fetch" style="display: none;"> </label>


                <!-- <div class="form-group newlistPeople" id="listPeople1">
                  
                </div> -->



                <div class="form-group" id="listPeople">
                </div>


              </div>

            </div>
          </form>
          <!-- <img src="Spin.gif" /> -->

          <label id="errorMsg" style="color: red;"></label>
          <br>
          <div style="text-align:center;display:none;" id="loader"> </div>
          <!-- <button type="button" style="cursor: pointer;" onclick="getInputValue();" class="btn btn-md btn-success">Save</button> -->
        </div>


        <div class="modal-footer">
          <button type="button" style="cursor: pointer;" onclick="closePopup()"
            class="btn btn-md btn-success">Save</button>
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/node/dynamicForms/vendor/js/vendor.js"></script>
  <!-- <script src="/node/dynamicForms/vendor/js/bootstrap.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="/node/dynamicForms/dist/formbuilder.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script>
    var formNameValue = null;

    function openPopuUpWithValue() {
      const formId = urlParams.get('formId');
      if (formId) {
        let open = document.getElementById("openPopup");
        open.click();
      }
    }
    $(document).ready(function () {
      const formId = urlParams.get('formId');

      if (formId) {

        // alertDiv.style.display = 'inline';
      } else {
        let open = document.getElementById("openPopup");
        open.click();
      }
    })
    var jsonData = null;
    const urlParams = new URLSearchParams(window.location.search);
    const formId = urlParams.get('formId');
    const poId = urlParams.get('poId');
    const pmId = urlParams.get('pmId');
    const agencyId = urlParams.get('agencyId');
    const apiDomain = urlParams.get('apiDomain');

    let editFormData = null;
    if (formId) {
      $.getJSON('/node/dynamicForms/editForm', { formId: formId, apiDomain:apiDomain }, function (data) {
        console.log(data, '163');
        let data1 = data;
        if (data1.Valid) {
          editFormData = data1.Item.fields;
          formNameValue = data1.Item.formName;
          document.getElementById('formName').value = data1.Item.formName;
          document.getElementById('formTitle').value = data1.Item.formTitle;
          document.getElementById('formDescription').value = data1.Item.formDescription;

          // $('.fb-save-wrapper').appendTo('#display_div'); 
          //     <button class="js-save-form fb-button" disabled="disabled">All changes saved</button>
          // var n
          // alertDiv.style.display = 'inline';
          // let formLabel = document.getElementById('appendFormValue');
          // formLabel.innerHTML = formNameValue;

          $(function () {
            fb = new Formbuilder({
              selector: '.fb-main',
              bootstrapData: editFormData
            });

            fb.on('save', function (payload) {
              console.log(payload);
              jsonData = payload;
            })
          });
          let saveBtn = document.getElementById('submit');
              saveBtn.innerHTML = 'Update';
          let hideALLchanges = document.getElementsByClassName('js-save-form');
          if (hideALLchanges.length > 0) {
            hideALLchanges['0'].style.display = 'none';
          }

          let alertDiv = document.getElementsByClassName('fb-save-wrapper');
          var d = document.createElement('div');
          d.id = "formButton";
          d.style.display = 'initial';
          var aTag = document.createElement("button")
          aTag.className = "searchPeople";
          // aTag.name = 'B' + id;
          aTag.id = 'openPopupBtn';
          // aTag.value = '';
          aTag.innerHTML = formNameValue;
          // aTag.title = "Click to view form name, title, description";
          // btn.className = "";
          aTag.addEventListener('click', function () {
            // openPopuUpWithValue();
          });
          aTag.style.cursor = 'initial';
          let modelTitle = document.getElementById('modalTitle');
          modelTitle.innerHTML = formNameValue;

          var pencilTag = document.createElement("a")
          pencilTag.className = "searchPeople1";
          // pencilTag.name = 'B' + id;
          pencilTag.id = 'openPopupBtn1';
          pencilTag.addEventListener('click', function () {
            openPopuUpWithValue();
          });
          var innerPencil = document.createElement("span")
          innerPencil.className = "glyphicon glyphicon-pencil";
          // pencilTag.name = 'B' + id;
          innerPencil.id = 'pencilSpanBtn';
          innerPencil.style.color = '#333'
          innerPencil.style.padding = '10px';
          innerPencil.title = "Click to view form name, title, description";
          innerPencil.style.cursor = 'pointer';

          pencilTag.appendChild(innerPencil);
          d.appendChild(aTag);
          d.appendChild(pencilTag);

          // alertDiv.prepend(d);
          // document.getElementsByClassName("thistime")[0].appendChild(first);
          alertDiv[0].prepend(d);

        }
      });

    } else {
      $(function () {
        fb = new Formbuilder({
          selector: '.fb-main',
          bootstrapData: []
        });
        let hideALLchanges = document.getElementsByClassName('js-save-form');
        if (hideALLchanges.length > 0) {
          hideALLchanges['0'].style.display = 'none';
        }
        fb.on('save', function (payload) {
          console.log(payload);
          jsonData = payload;
        })
      });
    }

    function saveForm() {
      // console.log(jsonData);
      // toastr.success('Form is created successfully.');
     console.log(editFormData,'265');
     let domain = apiDomain;
     let data = {};
     if(jsonData){
      data = JSON.parse(jsonData)
      data.fields.forEach((ele, index) => {
        return ele['order'] = index + 1;
      }) 
    }else {
      data['fields'] = editFormData;
    }
     //console.log(data);
     
     // console.log(data, 'after foreach');
      data['formName'] = document.getElementById('formName').value;
      data['formTitle'] = document.getElementById('formTitle').value;;
      data['formDescription'] = document.getElementById('formDescription').value;
      if (formId) {
        data['eFormId'] = formId;
      }
      data['createdBy'] = poId;
      data['modifiedBy'] = poId;
      data['pmId'] = (pmId == null || pmId == '' || pmId == 'null') ? null : pmId;
      data['agencyId'] = (agencyId == null || agencyId == '' || agencyId == 'null') ? null : agencyId;
      console.log(data);
      let params = { formData: data, apiDomain : domain }
      if (data.formName != null && data.formName != "") {
        $.post('/node/dynamicForms/saveForm', params, function (data) {
          console.log(data, 'Saved Successfully');
          if (data.success) {
            toastr.success('Form is created successfully.');
            document.getElementById('formName').value = null;
            document.getElementById('formTitle').value = null;
            document.getElementById('formDescription').value = null;
            $(function () {
              fb = new Formbuilder({
                selector: '.fb-main',
                bootstrapData: []
              });

              fb.on('save', function (payload) {
                console.log(payload);
                jsonData = payload;
              })
            });
            
            window.parent.postMessage({
            'func': 'parentFunc',
            'message': 'Message text from iframe.'
        }, "*");

            // window.close();
            // window.open(data.formId, "_blank")
          }
        });
      } else {
        toastr.error(' Form is saved, Please close the form.');

      }

    }
    function closePopup() {
      let error = document.getElementById('errorMsg');
      let formName = $('#formName').val().trim();
      console.log(formName, 'jjj');
      if (formName != null && formName != "") {
        $('#myForm').modal('hide');
        error.style.display = "none";
        error.innerHTML = " ";

      } else {
        error.style.display = "inline";
        error.innerHTML = "Form Name is mandatory"
        //  alert('Formname is mandatory');
      }
    }
    function resetData() {

      document.getElementById('formName').value = null;
      document.getElementById('formTitle').value = null;
      document.getElementById('formDescription').value = null;

    }
  </script>

</body>

</html>