<html>

<head>
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
  <link type="text/css" href="https://cdn.jsdelivr.net/npm/alpaca@1.5.27/dist/alpaca/bootstrap/alpaca.min.css"
    rel="stylesheet" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/datepicker.min.css"></script> -->
  <!--  -->

  <!--  -->

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


  <script type="text/javascript"
    src="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>


  <!-- https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js -->

  <!-- fileupload control (for UploadField) -->
  <link rel="stylesheet" type="text/css" href="http://alpacajs.org/lib/blueimp-file-upload/css/jquery.fileupload.css" />
  <link rel="stylesheet" type="text/css"
    href="http://alpacajs.org/lib/blueimp-file-upload/css/jquery.fileupload-ui.css" />
  <script src="http://alpacajs.org/lib/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
  <script src="http://alpacajs.org/lib/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
  <script src="http://alpacajs.org/lib/blueimp-file-upload/js/jquery.fileupload.js"></script>
  <script src="http://alpacajs.org/lib/blueimp-file-upload/js/jquery.fileupload-process.js"></script>
  <script src="http://alpacajs.org/lib/blueimp-file-upload/js/jquery.fileupload-ui.js"></script>

  <!-- handsontable (for GridField) -->
  <script src="http://alpacajs.org/lib/handsontable/dist/jquery.handsontable.full.js"></script>
  <!-- <link rel="stylesheet" media="screen" href="../../lib/handsontable/dist/jquery.handsontable.full.css"/> -->

  <!-- moment for date and datetime controls -->
  <script src="http://alpacajs.org/lib/moment/min/moment-with-locales.min.js"></script>
  <!-- bootstrap datetimepicker for date and datetime controls -->
  <script
    src="http://alpacajs.org/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet" media="screen"
    href="http://alpacajs.org/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" />

  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/alpaca@1.5.27/dist/alpaca/bootstrap/alpaca.min.js"></script>

  <!-- Toaster message-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <!-- <script src="vendor/js/toastr.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>






</head>

<body>
  <div class="container">
    <div class="col-md-12">
      <div id="form"></div>
    </div>
  </div>
  <script type="text/javascript">
    // $(document).ready(function() {
    //         $("#form").alpaca({
    //         "schema": {
    //             "type": "object",
    //             "properties": {
    //                 "files": {
    //                     "type": "array"
    //                 }
    //             }
    //         },
    //         "options": {
    //             "fields": {
    //                 "files": {
    //                     "type": "upload",
    //                     "multiple": true,
    //                     "upload": {
    //                         "url": "http://localhost:3000/getResponses"
    //                     }
    //                 }
    //             },
    //             "form": {
    //                 "attributes": {
    //                     "action": "http://localhost:3000/getResponses",
    //                     "method": "post"
    //                 },
    //                 "buttons": {
    //                     "validate": {
    //                         "title": "Validate and view JSON!",
    //                         "click": function () {
    //                             this.refreshValidationState(true);
    //                             if (this.isValid(true)) {
    //                                 var value = this.getValue();
    //                                 alert(JSON.stringify(value, null, "  "));
    //                             }
    //                         }
    //                     },
    //                     "submit": {}
    //                 }
    //             }
    //         }
    //     });
   //  });
  </script>


  <script type="text/javascript">
    const urlParams = new URLSearchParams(window.location.search);
    const formId = urlParams.get('formId');
    const poId = urlParams.get('poId');
    const pmId = urlParams.get('pmId');
    const agencyId = urlParams.get('agencyId');
    const formResponseId = urlParams.get('formResponseId');
    let formName = null;
    let formDescription = null;
    let formTitle = null;
    let editFormData = null;
    if (formId) {
      $.getJSON('/node/dynamicForms/editForm', { formId: formId }, function (jsonData) {
        console.log(jsonData, '163');
        let data1 = jsonData;
        if (data1.Valid) {
          data = data1.Item;
          formName = data.formName;
          formDescription = data.formDescription;
          formTitle = data.formTitle;
          // document.getElementById('formName').value = data1.Item.formName;
          // document.getElementById('formTitle').value = data1.Item.formTitle;
          // document.getElementById('formDescription').value = data1.Item.formDescription;
          var schemaObject = [];
          var optionsOject = [];
          let finalObject;
          var formObject = [];
          var tempObject = {}
          for (let h = 0; h < data.fields.length; h++) {
            const element = data.fields[h];
            switch (data.fields[h].field_type) {
              case 'text': textBox(data.fields[h])
                break;
              case 'paragraph': paraGraph(data.fields[h])
                break;
              case 'dropdown': dropdown(data.fields[h])
                break;
              case 'checkboxes': checkbox(data.fields[h])
                break;
              case 'radio': radio(data.fields[h])
                break;
              case 'file': file(data.fields[h]);
                break;
              case 'date': date(data.fields[h]);
                break;
              case 'number': number(data.fields[h]);
                break;
              case 'email': email(data.fields[h]);
                break;
              default:
                break;
            }
          }
          // "properties": {
          //       }


          function email(data) {
            let label = data.label;
            let obj = {};
            let opt = {};
            obj[`${label}`] = { format: 'email', type: "string", title: data.label, required: data.required, description: (data.field_options.description) ? data.field_options.description : null, pattern: `${/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i}` }
            let text = schemaObject.push(obj);
            opt[`${label}`] = { "helper": "Please enter your name.", "placeholder": "Enter your name", disallowEmptySpaces: true, disallowOnlyEmptySpaces: true, numericEntry: true }
            optionsOject.push(opt);
            return text;
          }

          function number(data) {
            let label = data.label;
            let obj = {};
            let opt = {};
            obj[`${label}`] = { type: "number", title: data.label, required: data.required, description: (data.field_options.description) ? data.field_options.description : null, minimum: (data.field_options.min) ? data.field_options.min : null, maximum: (data.field_options.max) ? data.field_options.max : null }
            let text = schemaObject.push(obj);
            opt[`${label}`] = { "helper": "Please enter your name.", "placeholder": "Enter your name", disallowEmptySpaces: true, disallowOnlyEmptySpaces: true, numericEntry: true }
            optionsOject.push(opt);
            return text;
          }

          function textBox(data) {
            let label = data.label;
            let obj = {};
            let opt = {};
            obj[`${label}`] = { type: "string", title: data.label, required: data.required, description: (data.field_options.description) ? data.field_options.description : null, minLength: (data.field_options.minlength) ? data.field_options.minlength : null, maxLength: (data.field_options.maxlength) ? data.field_options.maxlength : null }
            let text = schemaObject.push(obj);
            opt[`${label}`] = { size: "20", "helper": (data.field_options.description) ? data.field_options.description : null , "placeholder": " " }
            optionsOject.push(opt);
            return text;
          }
          function paraGraph(data) {
            let label = data.label;
            let obj = {}
            let opt = {};
            obj[`${label}`] = { type: "string", title: data.label, required: data.required, description: (data.field_options.description) ? data.field_options.description : null, minLength: (data.field_options.minlength) ? data.field_options.minlength : null, maxLength: (data.field_options.maxlength) ? data.field_options.maxlength : null };
            let text1 = schemaObject.push(obj);
            opt[`${label}`] = { type: "textarea", "label": label, "placeholder": "Enter Description" }
            optionsOject.push(opt);
            return text1;
          }
          function dropdown(data) {
            let label = data.label;
            let obj = {};
            let enums = [];
            let opt = {};
            let include_blank = null;
            if (data.field_options.options.length > 0) {
              for (let o = 0; o < data.field_options.options.length; o++) {
                const element = data.field_options.options[o].label;
                enums.push(element);
              }
            }
            // if(data.field_options.include_blank_option){

            // }
            obj[`${label}`] = { type: "string", title: data.label, required: data.required, enum: enums, description: (data.field_options.description) ? data.field_options.description : null };
            let text2 = schemaObject.push(obj);
            opt[`${label}`] = { type: "select", "helper": "Select your city.", "optionLabels": enums };
            optionsOject.push(opt);
            return true;

          }


          function checkbox(data) {
            let label = data.label;
            let obj = {}
            let enums = [];
            let opt = {};
            let dataArray = null
            if (data.field_options.options.length > 0) {
              for (let o = 0; o < data.field_options.options.length; o++) {
                const element = data.field_options.options[o].label;
                enums.push(element);
                if (data.field_options.options[o].checked) {
                  dataArray = data.field_options.options[o].label;
                }
              }
            }
            obj[`${label}`] = { default: (dataArray == null) ? 'null' : dataArray, type: "array", required: data.required, enum: enums };
            let text3 = schemaObject.push(obj);
            opt[`${label}`] = { type: "checkbox", "label": label, "optionLabels": enums };
            optionsOject.push(opt);
            return text3;
          }
          function radio(data) {
            let label = data.label;
            let obj = {}
            let enums = [];
            let opt = {};
            if (data.field_options.options.length > 0) {
              for (let o = 0; o < data.field_options.options.length; o++) {
                const element = data.field_options.options[o].label;
                enums.push(element);
              }
            }
            obj[`${label}`] = { required: data.required, enum: enums };
            let text4 = schemaObject.push(obj);
            opt[`${label}`] = { default: 'null', type: "radio", "label": label, "helper": "Select your city.", "optionLabels": enums };
            optionsOject.push(opt);
            return text4;
          }
          function file(data) {
            let label = data.label;
            let obj = {};
            let opt = {};
            //  obj[`${label}`] = { type: "string", title: data.label, format: "uri", description: data.field_options.description }
            obj[`${label}`] = { type: "file", title: data.label, format: "uri", description: data.field_options.description }

            let text = schemaObject.push(obj);
            // opt[`${label}`] = { "styled": true, "type": "upload" }
            opt[`${label}`] = {
              "styled": true, "id": "photo_field", "type": "upload", "multiple": "false", "upload": {
                "url": "https://beta-api.tracktechllc.com/api/eForms/UpdateFormResponseFile?formResponseId="+formResponseId+"&fileLabel="+label
              }
            }
            // opt[`${label}`] = {
            //   "type": "upload" ,"upload":{"url":"http://localhost:3000/getResponses"}  
            // } "URL 
            // https://beta-api.tracktechllc.com//api/eForms/UpdateFormResponseFile?formResponseId="+124+"&fileLabel="+"Profile",

            optionsOject.push(opt);
            return text;

            // });
          }
          function date(data) {
            let label = data.label;
            let obj = {};
            let opt = {};
            obj[`${label}`] = { format: "date" }
            let text = schemaObject.push(obj);
            opt[`${label}`] = { type: "date", dateFormat: 'MM/DD/YYYY', "placeholder": "Enter your DATE OF BIRTH" }
            optionsOject.push(opt);
            return text;
          }


          if (schemaObject.length > 0) {
            let schema = {};
            schema = Object.assign({}, ...schemaObject);
          }
          //    $(document).ready(function () {
          if (schemaObject.length > 0 && optionsOject.length > 0) {
            let schema = Object.assign({}, ...schemaObject);
            let options = Object.assign({}, ...optionsOject);

            console.log(schema, options);

            var now = new Date();
            $("#form").alpaca({

              "schema": {
                "title": formName,
                "description": formDescription,
                "type": "object",
                "properties": schema
              },
              "options": {
                "helper": null,
                "selectionHandler": function (files, data) {
                  this.data = data;
                },
                "fields": options,
                "form": {
                  "attributes": {
                    "action": "https://beta-api.tracktechllc.com/api/eForms/UpdateFormResponse?formResponseId="+formResponseId,
                    "method": "post",
                    "enctype": "multipart/form-data"
                  },
                  "buttons": {
                    "submit": {
                      "click": function () {
                        this.ajaxSubmit().always(function (data) {
                          console.log(data);
                          toastr.success('Form is submitted successfully.');
                          // alert(JSON.stringify(data));
                        });
                      },
                    },
                    "reset": {}
                  }
                }



              }

            });
          }

        }
      });

    }

  </script>












  <!-- 

  <script type="text/javascript">
    let data = {
      "fields": [
        { "label": "what is your name", "field_type": "text", "required": true, "field_options": { "size": "small", "minlength": "1", "maxlength": "10", "min_max_length_units": "characters", "description": "Please enter your name" }, "cid": "c2" },
        { "label": "Paragraph field", "field_type": "paragraph", "required": true, "field_options": { "size": "small", "description": "this field is not mandatory", "minlength": "0", "maxlength": "1000", "min_max_length_units": "characters" }, "cid": "c6" },
        { "label": "Check box field", "field_type": "checkboxes", "required": true, "field_options": { "options": [{ "label": "True", "checked": false }, { "label": "False", "checked": false }], "description": "Check box field description", "include_other_option": true }, "cid": "c10" },
        { "label": "File field", "field_type": "file", "required": true, "field_options": { "description": "https://www.gpsworld.com/wp-content/uploads/2020/03/GettyImages-1211384859-mobile-smartphone-health-PP.jpg" }, "cid": "c14" },
        {
          "label": "Radio button field", "field_type": "radio", "required": true, "field_options": {
            "options": [{ "label": "Selected", "checked": false },
            { "label": "Un-selected", "checked": false }, { "label": "Someother", "checked": false }], "include_other_option": true, "description": "please choose appropriate value"
          }, "cid": "c18"
        },
        { "label": "Date field", "field_type": "date", "required": true, "field_options": { "description": "Enter your date of birth" }, "cid": "c22" },
        { "label": "Page2", "field_type": "section_break", "required": true, "field_options": { "description": "Remaining fields" }, "cid": "c30" },
        {
          "label": "dropdown field", "field_type": "dropdown", "required": true, "field_options": {
            "options": [{ "label": "Vizag", "checked": false },
            { "label": "Hyderabad", "checked": false }], "include_blank_option": false, "description": "select city"
          }, "cid": "c34"
        }, { "label": "Time field", "field_type": "time", "required": true, "field_options": { "description": "Enter the time of arrival" }, "cid": "c38" }, { "label": "Number field", "field_type": "number", "required": true, "field_options": { "description": "Enter phone number", "integer_only": true, "min": "7999999999", "max": "9999999999", "units": "nil" }, "cid": "c42" }, { "label": "Website field", "field_type": "website", "required": true, "field_options": { "description": "give your github/facebook url" }, "cid": "c46" }, { "label": "email field", "field_type": "email", "required": true, "field_options": { "description": "Enter email address" }, "cid": "c50" }, { "label": "Price field", "field_type": "price", "required": true, "field_options": { "description": "add price here" }, "cid": "c54" }]
    }
    var schemaObject = [];
    var optionsOject = [];
    let finalObject;
    var formObject = [];
    var tempObject = {}
    for (let h = 0; h < data.fields.length; h++) {
      const element = data.fields[h];
      // schemaObject = { name1: data.fields[h.}
      switch (data.fields[h].field_type) {
        case 'text': textBox(data.fields[h])
          break;
        case 'paragraph': paraGraph(data.fields[h])
          break;
        case 'dropdown': dropdown(data.fields[h])
          break;
        case 'checkboxes': checkbox(data.fields[h])
          break;
        case 'radio': radio(data.fields[h])
          break;
        case 'file': file(data.fields[h]);
          break;
        case 'date': date(data.fields[h]);
          break;
        default:
          break;
      }
    }
    // "properties": {
    //       }
    function textBox(data) {
      let label = data.label;
      let obj = {};
      let opt = {};
      obj[`${label}`] = { type: "string", title: data.label, required: data.required, }
      let text = schemaObject.push(obj);
      opt[`${label}`] = { size: "20", "helper": "Please enter your name.", "placeholder": "Enter your name" }
      optionsOject.push(opt);
      return text;
    }
    function paraGraph(data) {
      let label = data.label;
      let obj = {}
      let opt = {};
      obj[`${label}`] = { type: "string", title: data.label, required: data.required };
      let text1 = schemaObject.push(obj);
      opt[`${label}`] = { type: "textarea", "label": label, "placeholder": "Enter Description" }
      optionsOject.push(opt);
      return text1;
    }
    function dropdown(data) {
      let label = data.label;
      let obj = {};
      let enums = [];
      let opt = {};
      if (data.field_options.options.length > 0) {
        for (let o = 0; o < data.field_options.options.length; o++) {
          const element = data.field_options.options[o].label;
          enums.push(element);
        }
      }
      obj[`${label}`] = { type: "string", title: data.label, required: data.required, enum: enums };
      let text2 = schemaObject.push(obj);
      opt[`${label}`] = { type: "select", "helper": "Select your city.", "optionLabels": enums };
      optionsOject.push(opt);
      return true;

    }


    function checkbox(data) {
      let label = data.label;
      let obj = {}
      let enums = [];
      let opt = {};

      if (data.field_options.options.length > 0) {
        for (let o = 0; o < data.field_options.options.length; o++) {
          const element = data.field_options.options[o].label;
          enums.push(element);
        }
      }
      obj[`${label}`] = { type: "array", required: data.required, enum: enums };
      let text3 = schemaObject.push(obj);
      opt[`${label}`] = { type: "checkbox", "label": label, "optionLabels": enums };
      optionsOject.push(opt);
      return text3;
    }
    function radio(data) {
      let label = data.label;
      let obj = {}
      let enums = [];
      let opt = {};
      if (data.field_options.options.length > 0) {
        for (let o = 0; o < data.field_options.options.length; o++) {
          const element = data.field_options.options[o].label;
          enums.push(element);
        }
      }
      obj[`${label}`] = { required: data.required, enum: enums };
      let text4 = schemaObject.push(obj);
      opt[`${label}`] = { type: "radio", "label": label, "helper": "Select your city.", "optionLabels": enums };
      optionsOject.push(opt);
      return text4;
    }
    function file(data) {
      let label = data.label;
      let obj = {};
      let opt = {};
      obj[`${label}`] = { type: "string", title: data.label, format: "uri", description: data.field_options.description }
      let text = schemaObject.push(obj);
      opt[`${label}`] = { "styled": true, "type": "file" }
      optionsOject.push(opt);
      return text;
    }
    function date(data) {

      let label = data.label;
      let obj = {};
      let opt = {};
      obj[`${label}`] = { format: "date" }
      let text = schemaObject.push(obj);
      opt[`${label}`] = { type: "date", dateFormat: 'MM/DD/YYYY', "placeholder": "Enter your DATE OF BIRTH" }
      optionsOject.push(opt);
      return text;
    }
    if (schemaObject.length > 0) {
      let schema = {};
      schema = Object.assign({}, ...schemaObject);
    }
    $(document).ready(function () {
      if (schemaObject.length > 0 && optionsOject.length > 0) {
        let schema = Object.assign({}, ...schemaObject);
        let options = Object.assign({}, ...optionsOject);
        console.log(schema, options);
        var now = new Date();
        $("#form").alpaca({

          "schema": {
            "title": "User Feedback",
            "description": "What do you think about Alpaca?",
            "type": "object",
            "properties": schema
          },
          "options": {
            "helper": "Tell us what you think about Alpacaaaa!",
            "fields": options,
            "form": {
              "attributes": {
                "action": "http://www.alpacajs.org/endpoints/echo.php",
                "method": "post"
              },
              "buttons": {
                "submit": {},
                "reset": {}
              }
            },
          }

        });
      }

    });

  </script>
  $("#form").alpaca({
    "schema": {
        "type": "object",
        "properties": {
            "files": {
                "type": "array"
            }
        }
    },
    "options": {
        "fields": {
            "files": {
                "type": "upload",
                "multiple": true,
                "upload": {
                    "url": "http://localhost:3000/getResponses"
                }
            }
        },
        "form": {
            "attributes": {
                "action": "http://localhost:3000/getResponses",
                "method": "post"
            },
            "buttons": {
                "validate": {
                    "title": "Validate and view JSON!",
                    "click": function () {
                        this.refreshValidationState(true);
                        if (this.isValid(true)) {
                            var value = this.getValue();
                            alert(JSON.stringify(value, null, "  "));
                        }
                    }
                },
                "submit": {}
            }
        }
    }
});
</body>

</html>
<!-- "schema": {
  "title": "User Feedback",
  "description": "What do you think about Alpaca?",
  "type": "object",
  "properties": {
    "name": {
      "type": "string",
      "title": "Name"
    },
    "feedback": {
      "type": "string",
      "title": "Feedback"
    },
    "ranking": {
      "type": "string",
      "title": "Ranking",
      "enum": ['excellent', 'ok', 'so so']
    }
  }
},
"options": {
  "helper": "Tell us what you think about Alpacaaaa!",
  "fields": {
    "name": {
      "size": 20,
      "helper": "Please enter your name.",
      "placeholder": "Enter your name"
    },
    "feedback": {
      "type": "textarea",
      "rows": 5,
      "cols": 40,
      "helper": "Please enter your feedback."
    },
    "ranking": {
      "type": "select",
      "helper": "Select your ranking.",
      "optionLabels": ["Awesome!", "It's Ok", "Hmm..."]
    }
  },
  "form": {
    "attributes": {
      "action": "http://www.alpacajs.org/endpoints/echo.php",
      "method": "post"
    },
    "buttons": {
      "submit": {},
      "reset": {}
    }
  },
} -->